home/.vim/bundle/DoxygenToolkit.vim/
home/.vim/bundle/SimpylFold/
home/.vim/bundle/ag.vim/
home/.vim/bundle/bclose.vim/
home/.vim/bundle/bufexplorer/
home/.vim/bundle/ctrlp.vim/
home/.vim/bundle/dragvisuals.vim/
home/.vim/bundle/jedi-vim/
home/.vim/bundle/nerdtree/
home/.vim/bundle/spacehi.vim/
home/.vim/bundle/tagbar/
home/.vim/bundle/taglist.vim/
home/.vim/bundle/vim-css-color/
home/.vim/bundle/vim-css3-syntax/
home/.vim/bundle/vim-tmux-navigator/
home/.vim/bundle/vim-obsession/
home/.vim/bundle/CamelCaseMotion/
home/.vim/bundle/YouCompleteMe/
home/.vim/bundle/base16-vim/
home/.vim/bundle/investigate.vim/
home/.vim/bundle/papercolor-theme/
home/.vim/bundle/snake/
home/.vim/bundle/vim-hybrid-material/
home/.vim/bundle/vim-mustache-handlebars/
home/.vim/bundle/InstantRst/
home/.vim/bundle/restore_view.vim/
home/.vim/bundle/riv.vim/
home/.vim/view/
home/.vim/.netrwhist
/home/.bash_secrets
*.swp
